<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.w1plus.flutter_w1plus">



    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:name=".MyApplication">

    </application>

</manifest>
